<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{asset('styles/styles.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.mi.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('styles/jquery-ui.css')}}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{asset('images/favicon.ico')}}" />
    <link rel="icon" href="{{asset('/images/favicon.ico')}}" type="image/x-icon" />
    <link rel="stylesheet" href="{{asset('./styles/dataTable.css')}}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{asset('./styles/jquery.gritter.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('./styles/formlogin.css')}}" />
     <script type="text/javascript" src="{{asset('js/verif.js')}}"></script>
     <script type="text/javascript" src="{{asset('js/jquery-1.7.2.min.js')}}"></script>     
     <script type="text/javascript" src="{{asset(' js/jquery-ui-1.8.23.custom.min.js')}}"></script>
     <script type="text/javascript" src="{{asset('js/jquery.gritter.min.js ')}}"></script>
     <script type="text/javascript" src="{{asset(' js/jquery_002.js')}}"></script>
     <title>E-Seminaire : gestion des inscriptions</title>
  </head>
  <body>
  
  <header>  </header>
  
  <div id='navigation'>  
  <nav>
	<ul>
 
    		
		<li><a href="login">Login</a></li>
				<li><a href="apropos">A propos</a></li>
  </ul>
  </nav>	
</div>
<br/>
<script type="text/javascript">

</script>
    <br/>
      <div id="titre">       
       
        <h3>Séminaire : « Les Journées du management »</h3>
              </div>

 {% block content %}


{% endblock %} 
    
  </body>
</html>
